.box {
  border: 1px solid #CCCCCC;
  font-size: 75px;
  height: 170px;
}

.hide {
  display: none;
}

// .game-functionality {
//   display: flex;
//   justify-content: space-between;
// }
// .show-games {
//   width: 33.3%;
// }
//
// .show-game {
//   width: 33.3%;
// }
//
// .new-game {
//   width: 33.3%;
// }
